@import url("reset.css");

body {
    font-size: 20px;
    font-family: 'PT Sans', 'sans-serif';
    line-height: 1.2em;
    text-align: left;
}

article, aside, div, footer, header, nav, section {
    margin: 0 auto;
    display: block;
}

h1 {
    font-size: 42px;
    font-weight: bold;
    line-height: 1.7em;
}

h2 {
    font-size: 38px;
    font-weight: bold;
    line-height: 1.4em;
}

h3 {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.4em;
}

li {
    list-style-type: none;
}

.dark {
    background-color: #333;
    color: #fff;
}

.red {
    background-color: #c43;
    color: #fff;
}

.light {
    background-color: #fff;
    color: #333;
}

.section-header {
    margin: 3px;
}

#site-header h1 {
    display: inline;
}

#content {
    background-color: #0f0;
    width: 960px;
}
