@import url("reset.css");

body {
    background-image: url('http://wallpapercave.com/wp/Xbf2gD2.jpg');
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #777;
    font-size: 20px;
    font-family: 'Open Sans', 'sans-serif';
    line-height: 1.2em;
    text-align: left;
}

h1 {
    font-size: 42px;
    font-weight: bold;
    line-height: 1.7em;
}

h2 {
    font-size: 38px;
    font-weight: bold;
    line-height: 1.4em;
}

h3 {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.4em;
}

hr {
    display: block;
    margin: 25px auto;
    border-bottom: 3px solid white;
}

header {
    background-color: #fff;
}

footer {
    color: #fff;
    padding: 10px;
    background-color: #222;
    font-weight: bold;
}

li {
    list-style-type: none;
}

nav {
    background-color: #c43;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

p {
    display: block;
    line-height: 1.3em;
}

.company-card {
    margin: 5px 0;
    border-right: 2px solid white;
    width: 325px;
    height: 636px;
    text-align: center;
}

#staff > div.company-card:first-child {
    border-left: 2px solid white;
}

.company-card h1 {
    font-size: 28px;
}

.company-card h2 {
    font-weight: normal;
    font-size: 24px;
}

.company-card img {
    height: 280px;
    width: 280px;
}

.company-card .bio {
    height: 600px;
}

.company-card .signature {
    position: relative;
    bottom: 0;
    margin-top: 10px;
    margin-right: 20px;
    float: right;
}

.carousel {
    border-radius: 4px 4px 0 0;
    background-color: #c43;
}

.carousel-display {
    height: 280px;
    width: 1020px;
}

.carousel-display-img {
    height: 100%;
    width: 100%;
}

.carousel-title {
    color: #fff;
    background-color: #c43;
    border-radius: 4px 4px 0 0;
    padding-left: 10px;
}

.carousel-picker li {
    text-align: center;
    color: #fff;
    background-color: #c43;
    padding: 15px 0;
    width: 255px;
}

.carousel-picker li:hover {
    color: #c43;
    background-color: #fff;
    cursor: pointer;
}

.active {
    display: block;
}

.hidden {
    display: none;
}

.half {
    width: 50%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.section-header {
    margin: 3px;
}

.thumbnail {
    border-radius: 50%;
    display: block;
    margin: 10px auto;
}

#container, #main-content, #site-header, #site-nav, #intro, #staff {
    margin: 0 auto;
}

#intro {
    margin: 15px auto;
}

#intro img {
    width: 300px;
    height: 300px;
    padding-right: 80px;
}

#main-content section {
    color: white;
    margin-bottom: 15px;
}

#site-header {
    color: #c43;
    background-color: #fff;
    width: 1020px;
    font-weight: bolder;
}

#site-header h1, p {
    display: inline;
    font-style: italic;
}

#site-header h1 {
    width: 680px;
}

#site-header p {
    width: 120px;
}

#site-header img {
    height: 120px;
    width: 120px;
    float: right;
}

#site-nav a {
    color: #fff;
    text-decoration: none;
}

#site-nav li {
    float: left;
    padding: 7px 0;
    width: 255px;
}

#site-nav li:hover {
    color: #c43;
    background-color: #fff;
}

#site-nav li.active {
    color: #fff;
    background-color: #222;
}

#site-nav li.active:hover {
    background-color: #333;
}

#container {
    min-height: 960px;
    padding: 30px;
    width: 1020px;
}

.info-section div {
    margin-bottom: 200px;
}
