@import url("reset.css");

body {
    background-color: #fff;
    color: #333;
    font-size: 18px;
    font-family: 'PT Sans', 'sans-serif';
    line-height: 1.4em;
    text-align: left;
}

div {
    margin: 0 auto;
}

h1 {
    font-size: 42px;
    font-weight: bold;
    line-height: 1.7em;
}

h2 {
    font-size: 38px;
    font-weight: bold;
    line-height: 1.5em;
}

h3 {
    font-size: 26px;
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 12px;
}

li {
    list-style-type: none;
}

img {
    height: 480px;
    width: 480px;
}

.ruddy {
    background-color: #d90;
    color: #fff;
}

.inset {
    margin: 0 72px;
}

.light {
    background-color: #fff;
    color: #333;
}

.text-center {
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

.full-width {
    width: inherit;
}

.section {
}

.half {
    width: 480px;
    height: 480px;
}

#container {
    display: block;
    width: 960px;
}

#header {
    background-image: url('../images/lescaladegym-header-warm.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    height: 220px;
}

#header h1 {
    color: #fff;
    font-size: 48px;
    font-style: italic;
    margin-left: 600px;
    padding-top: 150px;
}

#welcome {
    padding: 10px;
    margin: 0 25px;
}
