@import url("reset.css");

body {
    background-color: #fff;
    background-image: url('../images/les-background-napa.jpg');
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #333;
    font-size: 18px;
    font-family: 'PT Sans', 'sans-serif';
    line-height: 1.4em;
    text-align: left;
}

div {
    margin: 0 auto;
}

h1 {
    font-size: 42px;
    font-weight: bold;
    line-height: 1.7em;
}

h2 {
    font-size: 38px;
    font-weight: bold;
    line-height: 1.5em;
}

h3 {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 12px;
}

form {
    width: 360px;
}

fieldset {
    display: block;
    border: 5px solid #da3;
    border-radius: 3px;
    padding: 10px;
}

fieldset legend {
    color: #eee;
    font-size: 30px;
    padding: 0 15px;
}

input {
    display: block;
    padding: 6px 12px 6px 12px;
    border: 2px solid #777;
    width: 248px;
}

.form-group {
    margin-left: 27.5px;
    margin-bottom: 10px;
}

.form-text {
    color: #777;
    font-weight: bold;
}

.form-text:focus {
    color: #000;
}

.form-submit {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    background-color: #da3;
    border: none;
    width: 120px;
}

li {
    list-style-type: none;
}

img {
    height: 480px;
    width: 480px;
}


.inset {
    margin: 100px 72px;
}

.dark {
    background-color: #222;
    color: #eee;
}

.light {
    background-color: #fff;
    color: #333;
}

.ruddy {
    background-color: #da3;
    color: #fff;
}

.text-center {
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

.full-width {
    width: inherit;
}

.half {
    width: 480px;
    height: 480px;
}

#container {
    background-color: #fff;
    box-shadow: 0 5px 20px 5px #000;
    display: block;
    width: 960px;
    margin: 15px auto;
}

#header {
    background-image: url('../images/lescaladegym-header-warm.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    height: 220px;
}

#header h1 {
    color: #fff;
    font-size: 48px;
    font-style: italic;
    text-shadow: 5px 6px 3px #310;
    margin-left: 600px;
    padding-top: 140px;
}

#welcome {
    padding: 20px 72px;
}

#footer {
    width: 960px;
    padding: 10px;
    margin-top: 15px;
}
