@import url('reset.css');

html {
    font-size: 100%;
}

div, section {
    box-sizing: border-box;
}

h1 {
    font-size: 2.8125rem; /* (45px/16) */
    line-height: 1.3em;
}

h2 {
    font-size: 2.625rem; /* (42px/16) */
    line-height: 1.3em; 
}

p {
    font-size: 1.25rem; /* (20px/16) */
    line-height: 1.3em;
}

.half {
    width: 50%;
}

.left {
    float: left;
}

.right {
    float: right;
}

#container {
    margin: 0 auto;
}

#crab-and-mother {
    background-image: url('../images/sandpaper.png');
}

#crab-and-mother .tale {
    color: white;
    font-family: 'Gorditas', 'cursive';
    width: 80%;
    text-align: left;
    background-image: url('../images/crab.jpg');
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#crab-and-mother .tale p {
    font-size: 1.5rem;
    line-height: 2em;
}

#crab-and-mother .indent, .double-indent {
    font-size: 0.95em;
}

#crab-and-mother .indent {
    margin-left: 1em;
}

#crab-and-mother .double-indent {
    margin-left: 1.5em;
}

#crab-and-mother .tale-passage {
    margin: 0 auto;
    width: 85%;
}

#crab-and-mother .tale h1 {
    padding: 0.8rem;
    font-family: 'Fugaz One', cursive;
}

#crab-and-mother h1 span {
    display: block;
}

#crab-and-mother .lesson {
    color: #937d62;
    font-family: 'Permanent Marker', cursive;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    width: 20%;
}

#crab-and-mother .lesson p {
    font-size: 2.5rem; /* (40px/16) */
    line-height: 1.4em;
}

#crab-and-mother .lesson span {
    display: block;
}

#peacock-and-crane {
    background: url('../images/swirl_pattern.png');
    min-height: 300px;
}

#peacock-and-crane .header, .tale {
    float: left;
}

#peacock-and-crane .header {
    width: 25%;
}

#peacock-and-crane .tale {
    width: 75%;
}

#peacock-and-crane p {
    margin: 0 auto;
    text-align: center;
}

#woman-and-doctor {
    background-color: black;
    color: white;
}

#woman-and-doctor .emphasis {
    font-family: 'Jim Nightshade', cursive;
    font-size: 2.5rem;
    line-height: 1.5em;
}

#woman-and-doctor .cap {
    text-transform: uppercase;
}

#woman-and-doctor .tilt {
    font-style: italic;
}

#woman-and-doctor .header {
    font-size: 3rem;
    line-height: 1.2em;
    font-family: 'Griffy', cursive;
    font-style: italic;
    text-align: center;
}

#woman-and-doctor .first-half, .last-half {
    padding: 15px;
}

#woman-and-doctor .first-half, .last-half p {
    font-family: 'Architects Daughter', cursive;
}

#woman-and-doctor .first-half {
    font-size: 1.7rem;
    line-height: 1.2em;
    background-image: url('../images/blurry-room.jpg');
    background-attachment: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#woman-and-doctor .first-half p {
    text-indent: 2.5rem;
    font-size: 1.7rem;
    column-count: 2;
    line-height: 1.7em;
}

#woman-and-doctor .first-half p::first-letter {
    font-family: 'Griffy', cursive;
    font-style: bold;
    font-size: 2.3em;
}

#woman-and-doctor .character {
    font-family: 'Jim Nightshade', cursive;
    font-size: 2.5rem;
    font-style: italic;
}

#woman-and-doctor .text-center {
    margin: 10px auto;
    text-align: center;
}

#woman-and-doctor .squeeze {
    margin: 0 auto;
    width: 60%;
}

#woman-and-doctor .last-half {
    background-image: url('../images/empty-room.jpg');
    background-attachment: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#woman-and-doctor .last-half div > p:last-of-type {
    margin-top: 1.25rem;
    font-size: 2.5em;
}

@media screen and (max-width: 1024px) {
    #woman-and-doctor .first-half p {
        column-count:2;
    }

    #woman-and-doctor .resp-break {
        display: block;
    }
}

@media screen and (max-width: 960px), screen and (max-width: 768px) {
    #crab-and-mother .tale {
        width: 100%;
    }

    #crab-and-mother .tale p {
        width: 100%;
    }

    #crab-and-mother .lesson {
        width: 100%;
        font-size: 1.7rem;
        line-height: 1.2em;
        text-align: center;
    }

    #crab-and-mother .lesson span {
        display: inline;
        font-size: 2rem;
        line-height: 1.2em;
    }

    #woman-and-doctor .first-half p {
        line-height: 1.2em;
        column-count: 1;
        margin-bottom: 20px;
    }

    #woman-and-doctor .character {
        font-size: 1.75rem;
    }

    #woman-and-doctor .emphasis {
        font-size: 1.65rem;
    }

    #woman-and-doctor .first-half .resp-break {
        display: block;
    }
}

@media screen and (max-width: 414px), screen and (max-width: 667px) {
    #crab-and-mother .lesson span {
        display: inline;
        font-size: 1.25rem;
        line-height: 1.2em;
    }

    #woman-and-doctor .first-half p {
        font-size: 1.2rem;
        line-height: 1.2em;
        column-count: 1;
        margin-bottom: 20px;
    }

    #woman-and-doctor .character {
        font-size: 1.75rem;
    }

    #woman-and-doctor .emphasis {
        font-size: 1.65rem;
    }

    #woman-and-doctor .first-half .resp-break {
        display: block;
    }
}
